

<div class="center">

        <form clrForm [formGroup]="vesselInsepction" *ngIf="_open">
                <clr-wizard wizardmd [(clrWizardOpen)]="_open" >
                        <clr-wizard-title>Vessel Inspection</clr-wizard-title>
                    
                        <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
                        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
                        <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
                        <clr-wizard-button (click)="inspectVessel()" *ngIf="!vesselInsepction.invalid" >Finish</clr-wizard-button>
                    
                        <clr-wizard-page>
                            <ng-template clrPageTitle>General Information</ng-template>
                            <ng-template clrPageNavTitle>Step 1</ng-template>
                          
                                    <clr-input-container>
                                        <label>Shipping Agent</label>
                                        <input clrInput type="text"     formControlName="ShippingAgent" name="firstName" required />
                                        <clr-control-error>We need your first name for legal compliance</clr-control-error>
                                    </clr-input-container>
                                    <clr-input-container>
                                        <label>Shipping Agent address</label>
                                        <input clrInput type="text"    formControlName="ShippingAgentAddress" name="midleName" />
                                    </clr-input-container>
                                    <clr-input-container>
                                        <label>Shipping Agent No</label>
                                        <input clrInput type="text"    formControlName="ShippingAgentNo"  name="lastName" required />
                                        <clr-control-error>We need your last name for legal compliance</clr-control-error>
                                    </clr-input-container>
                                    <clr-input-container>
                                            <label>GT</label>
                                            <input clrInput type="text"    formControlName="GT"  name="lastName" required />
                                            <clr-control-error>We need your last name for legal compliance</clr-control-error>        
                                    </clr-input-container>
                                    <clr-input-container>
                                            <label>Cargo Type</label>
                                            <input clrInput type="text"    formControlName="CargoType"  name="lastName" required />
                                            <clr-control-error>We need your last name for legal compliance</clr-control-error>        
                                    </clr-input-container>
                                    <clr-input-container>
                                            <label>Cargo Measurement</label>
                                            <input clrInput type="text"    formControlName="CargoMeasurement"  name="lastName" required />
                                            <clr-control-error>We need your last name for legal compliance</clr-control-error>        
                                    </clr-input-container>
                                    <clr-input-container>
                                            <label>Registration Date</label>
                                            <input clrInput type="text"    formControlName="RegistrationDate"  name="lastName" required />
                                            <clr-control-error>We need your last name for legal compliance</clr-control-error>        
                                    </clr-input-container>
                        </clr-wizard-page>
                    
                       
                    
                        <clr-wizard-page>
                            <ng-template clrPageTitle>IMO Test</ng-template>
                            <ng-template clrPageNavTitle>Step 2</ng-template>
                            <div *ngIf="true">
                                    <clr-input-container>
                                        <label>Number Nigerians</label>
                                        <input clrInput class="long" type="number"    formControlName="NumberNigerians"  name="firstName" required />
                                        <clr-control-error>We need your first name for legal compliance</clr-control-error>
                                    </clr-input-container>

                                    <clr-input-container>
                                        <label>Number Foreigner</label>
                                        <input clrInput class="long" type="number"    formControlName="NumberForeign"  name="firstName" required />
                                        <clr-control-error>We need your first name for legal compliance</clr-control-error>
                                    </clr-input-container>
                                  
            
                                    <div class="clr-form-control">
                                            <label for="select-full" class="clr-control-label">Compliant</label>
                                            <div class="clr-control-container">
                                              <div class="clr-select-wrapper">
                                                <select formControlName="Compliancelevel" id="select-full" class="clr-select">
                                                    <option [value]="item"  *ngFor="let item of comply" >{{item}}</option>
                                                
                                                </select>
                                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                                              </div>
                                             
                                          </div>
                                    </div>
                                    <clr-textarea-container>
                                    <label>Description</label>
                                    <textarea clrTextarea formControlName="Remark" name="description" required></textarea>

                                    
                                  </clr-textarea-container>
                            </div>
                           
                        </clr-wizard-page>
                    </clr-wizard>
           
            </form>
        
        

          


                <!-- <div class="clr-row" *ngIf="_vessel">

                        <div class="clr-col-12 clr-col-lg-12">
                              <h3>Vessel-Name:<span>{{_vessel.NigeriaOperator}}</h3>
                            </div>
                        <div class="clr-col-12 clr-col-lg-12">
                            <p>Cargo Type:<span>{{_vessel.CargoType}}</p>
                        </div>
                        
                       
                        <div class="clr-col-12 clr-col-lg-12">
                            <p>Owner:<span>{{_vessel.NameOfVessel}}</p>
                        </div>

                      
                        
                    </div> -->

                    <div class="clr-row  clr-justify-content-between mt-2" >
                        <div class="clr-col-4 ">
                            <img  [src]=_flagImage> <span style="margin-left: 20px;color: black;font-weight: bolder">{{_flagName}}</span>
                     </div>
                     <div class="clr-col-4 mt-5">
                        <a (click)='openInspect()' class="btn btn-primary mt-5">Start Inspection</a>
                     </div>
                    </div>


                    <div class="clr-row mt-5  clr-justify-content-start"  style="margin-top:20px;margin-left: 15px">

                            <ul class="list-unstyled">
                                    
                                  
                                            <li>Vessel-Name:<span style="color: black;font-weight: bolder;margin-left: 10px;text-align: justify">{{_vessel.NigeriaOperator}}</span></li>
                                            <li>Cargo Type:<span style="color: black;font-weight: bolder;margin-left: 10px;text-align: justify" >{{_vessel.CargoType}}</span></li>
                                            <li>Owner:<span style="color: black;font-weight: bolder;margin-left: 10px;text-align: justify">{{_vessel.NameOfVessel}}</span></li>
                                        
                                </ul>

                    </div>
           

                    
                    

<h4>Inspection History</h4>
<table class="table">
    <thead>
        <tr>
            <th>Inspection Date</th>
            <th>Inspected By</th>
            <th>Inspection ID</th>
            <th>Compliance level</th>
        </tr>
    </thead>
    <tbody *ngIf="!emptylist ;else loggedOut">
            <!-- [routerLink]="['../../history', 12]" -->
        <tr  *ngFor="let item of  inspectionArray"  (click)="details(item)">
            <td>{{item.dates}}</td>
            <td>{{item.GT}}</td>
            <td>{{item.ShippingAgent}}</td>
            <td style="color: white" [ngStyle]="item.Compliancelevel==='Non Complainant'?{'background-color': 'red'} : {'background-color': 'green'}">{{item.Compliancelevel}}</td>
        </tr>
       
        
    </tbody>
</table>



</div>


<ng-template class="center" #loggedOut>
   <p style="text-align: center"> No inspection as been done on this vessel</p>
</ng-template>