
<div class="center">
    <h2>{{title}}</h2>
    <div class="clr-row">
        <div class="clr-col-sm-12 clr-col-md-4">
            <div class="card">
   
                <div class="card-block">
                    <div class="card-title">
                        <h6 style="text-align: center">Coastal Vessels</h6>
                        <h3 style="text-align: center;color: green"> 20</h3>
                    </div>
                    
                </div>
               
            </div>
        </div>
      
            <div class="clr-col-sm-12 clr-col-md-4">
                <div class="card">
       
                    <div class="card-block">
                        <div class="card-title">
                            <h6 style="text-align: center">Foreign Vessels</h6>
                            <h3 style="text-align: center;color: blue;"> 100</h3>
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        
        
            <div class="clr-col-sm-12 clr-col-md-4">
                <div class="card">
       
                    <div class="card-block">
                        <div class="card-title">
                            <h6 style="text-align: center">Pending Registration</h6>
                            <h3 style="text-align: center;color: red;" > 70</h3>
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        
    </div>
</div>
