<div class="center">
        <h2>{{title}}</h2>
<div class="search"  [formGroup]="VesselForm" >
        <input formControlName="OfficalNo" type="text" class="searchTerm" placeholder="Enter Vessel Offical Number">
        <button type="submit" [clrLoading]="isLoading"  (click)="SearchVessel()" class="searchButton">
         <clr-icon shape="search" size="16"></clr-icon>
       </button>
     </div>

     <div class="item">
             <!-- <ngx-skeleton-loader count="5" appearance="line"> </ngx-skeleton-loader> -->
        

             <table class="table">
                        <thead>
                            <tr>
                                <th>Vessel Name</th>
                                <th>IMO Number</th>
                                <th>Country</th>
                                <th>Vessel Type</th>
                            </tr>
                        </thead>
                        <tbody  *ngIf="vesselArray">
                                <!-- [routerLink]="['../info', 12]" -->
                            <tr   (click)="detailsPage(vessel)"  *ngFor="let vessel of vesselArray">
                                <td>{{vessel.NameOfVessel}}</td>
                                <td>{{vessel.IMO}}</td>
                                <td>{{flag}}</td>
                                <td>Cargo</td>
                            </tr>
                           
                        </tbody>
                    </table>
        </div>
</div>