<div class="center">
        <h2>{{title}}</h2>


     <div class="item">
             <!-- <ngx-skeleton-loader count="5" appearance="line"> </ngx-skeleton-loader> -->
        

             <table class="table">
                        
                        <tbody  *ngIf="vesselArray">
                                <!-- [routerLink]="['../info', 12]" -->
                            <tr   (click)="detailsPage(vessel)"  *ngFor="let vessel of vesselArray">
                                <td>{{vessel.NameOfVessel}}</td>
                                <td>{{vessel.IMO}}</td>
                                <td>{{flag}}</td>
                                <td>Cargo</td>
                            </tr>
                           
                        </tbody>
                    </table>
        </div>

       
        <div  id="myGrid" class="ag-theme-balham">
        <ag-grid-angular 
        #agGrid
    style="width: auto; height: 500px;" 
    class="ag-theme-material"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [enableSorting]="true"
                    [multiSortKey]="true"
                    [animateRows]="true"
                    [pagination]="true"
                    [paginationPageSize]="7"
                    [enableFilter]="true"
                    [context]="context"
                    [floatingFilter]="true"
                    [frameworkComponents]="frameworkComponents"
                    [colResizeDefault]="colResizeDefault"
                    (gridReady)="onGridReady($event)"
 
    >
</ag-grid-angular>
</div>

</div>