/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
.login-wrapper {
    background: url("assets/login.png");
    background-size: 60%;
    background-position: 21rem 0;
    background-repeat: no-repeat;
    height: 80% !important;
}
button.btn.btn-primary{
  background-color: #fcce2f !important;
  color: #1a1a1a !important;
}
.header-3{
  background-color: #fcce2f !important;
  color: #1a1a1a !important;
}
.header-4{
  background-color: #ffff !important;
  color: #1a1a1a !important;
}
.nav-content,.nav-trigger{
  background-color: #fcce2f !important;
  color: #1a1a1a !important;
}
.title{
  color: #1a1a1a!important;
}


.header .header-actions>.dropdown .dropdown-toggle.nav-icon clr-icon:not([shape^=caret]), .header .settings>.dropdown .dropdown-toggle.nav-icon clr-icon:not([shape^=caret]), header .header-actions>.dropdown .dropdown-toggle.nav-icon clr-icon:not([shape^=caret]), header .settings>.dropdown .dropdown-toggle.nav-icon clr-icon:not([shape^=caret]){
  color: #1a1a1a!important;
}
.center{
  margin: 0 auto !important;
  width: 95% !important;
}
.header .header-actions>.dropdown .dropdown-toggle.nav-text, .header .settings>.dropdown .dropdown-toggle.nav-text, header .header-actions>.dropdown .dropdown-toggle.nav-text, header .settings>.dropdown .dropdown-toggle.nav-text {
  padding: 0 1.5rem 0 1rem;
  color: #1a1a1a !important;
}
.nav-text{
  color: #1a1a1a;
}


.header-hamburger-trigger>span, .header-hamburger-trigger>span::after, .header-hamburger-trigger>span::before{
  background-color: #fcce2f !important;
}

.header-hamburger-trigger>span, .header-hamburger-trigger>span::after, .header-hamburger-trigger>span::before {
  display: inline-block;
  height: .0833333rem;
  width: 1rem;
  background:  #fcce2f !important;
  border-radius: .125rem;
}