
<div id="contentToConvert" #content>  

<div class="clr-row">
    <div class="clr-col-5">

    </div>
    <div class="clr-col-5 ml-4" style="margin-left: 30px;margin-top: 20px;">
        <img src="../../../assets/NIMASA.jpg" width="100" height="100">
    </div>
    <div class="clr-col-4">
  
    </div>
</div>

<u><h3 style="color: black;font-size:22px;text-align: center">DEFICIENCY FORM</h3></u> 
<h4 style="color: black;font-size:17px;text-align: center;font-weight: bolder">NIGERIA  MARITIME ADMINISTRATION AND SAFTETY AGENCY</h4>
<h5 style="color: black;font-size:15px;text-align: center;font-weight: bold">MARITIME LABOUR CONVENTION ,2006(MLC,2006) INSPECTION REPORT ON DEFIFIENCY</h5>



<table style="width:100%" class="table">
    <tr>
      <th>Name of ship:</th>
      <td colspan="3" class="left">{{vesselinfo?.NameOfVessel}}</td>
    </tr>
    <tr>
      <th>IMO NUMBER:</th>
      <td class="left">{{vesselinfo?.IMO}}</td>
      <th>Official Number:</th>
       <td class="left">{{vesselinfo?.OfficalNo}}</td>
    </tr>
     <tr>
      <th>Date of build:</th>
      <td class="left">{{vesselinfo?.RegDate}}</td>
      <th>GT:</th>
       <td class="left">{{vesselinfo?.GT}}</td>
    </tr>
    <tr>
        <th>Type of vessel:</th>
        <td class="left">{{vesselinfo?.CargoType}}</td>
        <th>Class Society:</th>
         <td class="left">NONe</td>
      </tr>
    <tr>
      <th>Location of Vessel:</th>
      <td colspan="3" class="left">Lagos,Nigeria</td>
    </tr>
  </table>

  <table class="table table-vertical">
    <tbody>
        <tr>
            <th >CargoMeasurement</th>
            <td class="left">{{data.CargoMeasurement}}</td>
           
        </tr>
        <tr>
            <th >CargoType</th>
            <td class="left">{{data.CargoType}}</td>
            
        </tr>
        <tr>
            <th >Compliancelevel</th>
            <td class="left">{{data.Compliancelevel}}</td>
           
        </tr>
        <tr>
            <th >Inspection date</th>
            <td class="left">{{data.dates}}</td>
           
        </tr>
        <tr>
            <th >Remarks</th>
            <td class="left">{{data.Remark}}</td>
        </tr>
    </tbody>
</table>
</div>
<button class="btn btn-success" (click)="captureScreen()">Generate PDF</button>
