
<div class="clr-row">
    <div class="clr-col-5">

    </div>
    <div class="clr-col-5 ml-4" style="margin-left: 30px">
        <img src="../../../assets/NIMASA.jpg" width="100" height="100">
    </div>
    <div class="clr-col-4">
  
    </div>
</div>

<u><h3 style="color: black;font-size:22px;text-align: center">DEFICIENCY FORM</h3></u> 
<h4 style="color: black;font-size:17px;text-align: center;font-weight: bolder">NIGERIA  MARITIME ADMINISTRATION AND SAFTETY AGENCY</h4>
<h5 style="color: black;font-size:15px;text-align: center;font-weight: bold">MARITIME LABOUR CONVENTION ,2006(MLC,2006) INSPECTION REPORT ON DEFIFIENCY</h5>



<table style="width:100%" class="table">
    <tr>
      <th>Name of ship:</th>
      <td colspan="3" class="left">GOLDERN WIND</td>
    </tr>
    <tr>
      <th>IMO NUMBER:</th>
      <td class="left">55577854</td>
      <th>Official Number:</th>
       <td class="left">567778777</td>
    </tr>
     <tr>
      <th>Date of build:</th>
      <td class="left">55-77-90</td>
      <th>GT:</th>
       <td class="left">55577855</td>
    </tr>
    <tr>
        <th>Type of vessel:</th>
        <td class="left">55-77-90</td>
        <th>Class Society:</th>
         <td class="left">55577855</td>
      </tr>
    <tr>
      <th>Location of Vessel:</th>
      <td colspan="3" class="left">Lagos,Nigeria</td>
    </tr>
  </table>

  <table class="table table-vertical">
    <tbody>
        <tr>
            <th class="left">CargoMeasurement</th>
            <td>{{data.CargoMeasurement}}</td>
           
        </tr>
        <tr>
            <th class="left">CargoType</th>
            <td>{{data.CargoType}}</td>
            
        </tr>
        <tr>
            <th class="left">Compliancelevel</th>
            <td>{{data.Compliancelevel}}</td>
           
        </tr>
        <tr>
            <th class="left">Inspection date</th>
            <td>{{data.dates}}</td>
           
        </tr>
        <tr>
            <th class="left">Remarks</th>
            <td>{{data.Remark}}</td>
        </tr>
    </tbody>
</table>
